<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculate Total Requests</title>
</head>
<body>
    <h1>Total Requests: {{ summary.total }}</h1>
    <ul>

        <li>POST request:</strong> {{ summary.post }}</li>
        <li>PUT request:</strong> {{ summary.put }}</li>
        <li>PATCH request:</strong> {{ summary.patch }}</li>
        <li>DELETE request:</strong> {{ summary.delete }}</li>
        <li>GET request:</strong> {{ summary.get }}</li>
    </ul>

</body>
</html>